@charset "utf-8";

/* CSS Document */


/* Add custom styling below */


/*  .beige-dk {
	background-color: #000;
}
#hero h2 {
	color: #FFF;
}
#hero p {
	color: #D1D1D1;
}
.navbar .nav li.nolink, .navbar .nav > li > a, .learnmore, .lightnav .navbar-inner.lightnav-alt .nav > li > a, .lightnav .navbar-inner.lightnav-alt .learnmore {
	color: #FFF;
}
button.navbar-toggle .icon-bar {
	background-color: #FFF
}
.navbar-inner.lightnav-alt {
	background-color: rgba(0, 0, 0, 0.7);
}  */

.beige-dk,
.poster.beige-dk::before {
    background-color: rgba(255, 255, 255, 0.8);
}

#figures.beige-dk {
    background-color: #FFF;
}

.nav-logo {
    height: 32px;
}

#companies .center-content {
    display: flex;
    justify-content: center;
}

#companies img {
    height: 50px;
}

#companies .logo-square {
    height: 100px;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#mailinglist #mc-email.form-control {
    padding: 0 13px;
}

#mailinglist #mc-email.form-control:focus {
    border-color: #FF4D4D;
}

#mailinglist textarea {
    width: 100%;
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid #999;
    margin-bottom: 15px;
    resize: none;
}

#mailinglist textarea:focus {
    border-color: #FF4D4D;
}

.pace .pace-progress {
    background-color: #FF4D4D;
}

#mailinglist button.signup:hover,
.custom-button:hover {
    background-color: #FF4D4D;
}

#mailinglist button.signup {
    float: none;
}

.fade-in {
    visibility: hidden;
}

.boxes p {
    text-align: left;
}

.no-float {
    float: none;
}

.underlined-link {
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    font-family: "Georgia", serif;
    text-align: center;
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.item-meta {
    position: absolute;
    bottom: 60px;
    left: 80px;
    z-index: 3;
}

.client p {
    font-family: 'Georgia', serif;
    font-style: italic;
}

hr.client-accent {
    height: 4px;
    width: 40px;
    background: #eee;
    border-top: none;
    margin: 20px 0 30px auto;
}

@media (max-width:1024px) {
    .client h3,
    .client p {
        text-align: center;
    }
    hr.client-accent {
        margin: 20px auto 30px auto;
    }
}

.img-label {
    position: absolute;
    bottom: 15px;
    z-index: 2;
    color: #fff;
    background-color: #151515;
    padding: 5px 15px;
}

@media (max-width:767px) {
    .img-label {
        display: none;
    }
}

.portfolio-item .thumbnail,
.thumbnail {
    padding: 0;
    margin-bottom: 0;
    border: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.thumbnail:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -khtml-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
}

ul.photoblock {
    padding-left: 0
}

ul.photoblock li,
.portfolio-item ul.photoblock li {
    list-style: none;
    padding: 6px;
}


/* Style the popup lightbox */

.lb-loader {
    top: 50%;
    left: 50%;
}

.lb-outerContainer {
    background-color: transparent;
}

.lb-container {
    padding: 0;
    width: 70%;
    margin: 0 auto;
}

#lightbox img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

#lightbox h4,
#lightbox p,
#lightbox .lb-data .close {
    color: #fff;
    text-shadow: none;
}


/* Limit lightbox images that are wider than the screen,
 * to fit within the resolution */

.lb-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

.lb-data {
    padding: 30px 0;
}

.lb-prev {
    background: url(../img/global/cursor-prev.png) !important;
    background-position: 25% 50% !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    background-repeat: no-repeat !important;
}

.lb-prev:hover {
    background-position: 25% 50% !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-repeat: no-repeat !important;
}

.lb-next {
    background: url(../img/global/cursor-next.png) !important;
    background-position: 75% 50% !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    background-repeat: no-repeat !important;
}

.lb-next:hover {
    background-position: 75% 50% !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-repeat: no-repeat !important;
}
