<script type="text/ng-template" id="intro.html">
    <!-- ============================ Intro =========================== -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 opening-statement">
                    <div class="col-md-4">
                        <h3>OUR <span>mission</span></h3>
                    </div>
                    <div class="col-md-8">
                        <p>We aim to use technology to make people's lives easier so that the society can evolve into something better.</p>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="nogutter">
                </div>
            </div>
        </div>
    </section>
    <!-- ============================ END Intro =========================== -->
</script>
