<script type="text/ng-template" id="off-canvas-nav.html">
	<!-- ============================ Off-canvas navigation =========================== -->
	
	<div class="sb-slidebar sb-right sb-style-overlay sb-momentum-scrolling">
		<div class="sb-close" aria-label="Close Menu" aria-hidden="true">
			<img src="img/global/close.png" alt="Close"/>
		</div>
		<!-- Lists in Slidebars -->
		<ul class="sb-menu">
			<li><a href="index.html" class="animsition-link" title="Image Hero">Start</a></li>
			<li><a href="index-video.html" class="animsition-link" title="Video Hero">Video Alt</a></li>
			<li><a href="company.html" class="animsition-link" title="Company">Company</a></li>
			<li><a href="values.html" class="animsition-link" title="Values">Values</a></li>
			<li><a href="team.html" class="animsition-link" title="Team">Team</a></li>
			<li><a href="careers.html" class="animsition-link" title="Careers">Careers</a></li>
			<!-- Dropdown Menu -->
			<li>
				<a class="sb-toggle-submenu">Portfolio<span class="sb-caret"></span></a>
				<ul class="sb-submenu">
					<li><a href="portfolio.html" class="animsition-link" title="Filter Portfolio">Filter Portfolio</a></li>
					<li><a href="portfolio-item.html" class="animsition-link" title="Portfolio Item">Portfolio Item</a></li>
				</ul>
			</li>
			<li><a href="faq.html" class="animsition-link" title="FAQ&#39;s">FAQ&#39;s</a></li>
			<li><a href="proposal.html" class="animsition-link" title="Start a Project">Start a Project</a></li>
			<li><a href="contact.html" class="animsition-link" title="Contact Us">Contact Us</a></li>
		</ul>
		<!-- Lists in Slidebars -->
		<ul class="sb-menu secondary">
			<li><a href="blog.html" class="animsition-link" title="T&amp;C&#39;s">Read the Blog</a></li>
			<li><a href="style-guide.html" class="animsition-link" title="Style Guide">Theme Style Guide</a></li>
		</ul>
		<ul class="sb-menu secondary">
			<li><a href="terms-conditions.html" class="animsition-link" title="T&amp;C&#39;s">Terms &amp; Conditions</a></li>
			<li><a href="privacy-policy.html" class="animsition-link" title="Privacy Policy">Privacy Statement</a></li>
			<li><a href="press-kit.html" class="animsition-link" title="Press Kit">Press Kit</a></li>
		</ul>
	</div>
	
	<!-- ============================ END Off-canvas navigation =========================== -->
</script>