<script type="text/ng-template" id="overview.html">
    <!-- ============================ Overview =========================== -->
    <section id="overview">
        <div class="container-fluid nopadding nomargin">
            <div class="row">
                <div class="col-md-6 element-img overview-img wow fadeInLeft" data-wow-delay="0.5s" style="background-image:url(img/home/box1.jpg)"></div>
                <div class="col-md-6 overview-text vertical-align wow fadeInRight" data-wow-delay="0.5s">
                    <div class="center-me">
                        <h4>A Team that Collaborates</h4>
                        <p>Our team consist of the best talent in town, and we are always open to working with like-minded individuals that want to go the extra-mile to get things done with the up-most expertise &amp; skill.</p>
                        <a href="careers.html" class="custom-button animsition-link">Open Positions</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================ END Overview =========================== -->
</script>
