<script type="text/ng-template" id="services.html">
    <!-- ============================ Services =========================== -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-12 services-intro wow fadeInUp" data-wow-delay="0.5s">
                            <h3>Building services for <span>people</span>.</h3>
                            <p>We design products that <span class="bold">connect</span> with human nature.</p>
                        </div>
                    </div>
                    <div class="row partition">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row boxes">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp" align="center" data-wow-delay="0.3s">
                            <i class="icon-basic-pencil-ruler-pen"></i>
                            <h4>Web Design</h4>
                            <p>We create beautiful and professional designs with cross-devices responsiveness in mind.</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp" align="center" data-wow-delay="0.6s">
                            <i class="icon-basic-webpage-img-txt"></i>
                            <h4>Web Apps</h4>
                            <p>Solve real-world problems. We make web apps which are scalable and able to work smoothly even under heavy usage.</p>
                        </div>
                    </div>
                    <div class="row boxes">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp" align="center" data-wow-delay="0.3s">
                            <i class="icon-basic-smartphone"></i>
                            <h4>Mobile Apps</h4>
                            <p>Develop cross-platform compatible mobile apps that can fulfill any requirements you have in mind.</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp" align="center" data-wow-delay="0.6s">
                            <i class="icon-basic-archive-full"></i>
                            <h4>Data Recovery</h4>
                            <p>We have tools that can recover your valued data.</p>
                        </div>
                    </div>
                    <div class="row boxes">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp" align="center" data-wow-delay="0.3s">
                            <i class="icon-basic-laptop"></i>
                            <h4>Hardware Supply</h4>
                            <p>We procure and supply any kind of hardware anywhere you want.</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp" align="center" data-wow-delay="0.6s">
                            <i class="icon-basic-world"></i>
                            <h4>Networking</h4>
                            <p>If you're setting up a new workplace or reconfiguring your stations, we'll connect your devices with the world.</p>
                        </div>
                    </div>
                    <div class="row boxes">
                        <div class="col-lg-offset-3 col-md-offset-3 col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp" align="center" data-wow-delay="0.3s">
                            <i class="icon-basic-magnifier"></i>
                            <h4>SEO</h4>
                            <p>Ensure your ideas and products are always showcased to the world.</p>
                        </div>
                    </div>
                    <!-- // .row-->
                </div>
                <!-- // .col-md-6 .col-md-offset-3 -->
            </div>
            <!-- // .row-->
        </div>
        <!-- // .container-->
    </section>
    <!-- ============================ END Services =========================== -->
</script>
