<script type="text/ng-template" id="project.html">
    <div data-ng-include="header"></div>
    <section id="page-header" class="element-img scrollme" style="background-image: url('img/portfolio/single-item/item-1/page-header.jpg')">
        <div class="container">
            <div class="row boost">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 vertical-align text-center">
                    <div class="animateme center-me" data-when="exit" data-from="0" data-to="0.6" data-opacity="0" data-translatey="120">
                        <h2>BEFARe Intependent Monitoring Unit (IMU)</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="headerfade beige-dk"></div>
    </section>
    <!-- ============================ Page-content =========================== -->
    <section id="page-content" class="container portfolio-item">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-4 client text-right">
                        <H3 style="margin-top: 0">Creating data-collection and reporting app.</H3>
                        <hr class="client-accent">
                        <p>Client: BEFARe and USAID</p>
                    </div>
                    <div class="col-md-8">
                        <p>We got a project from BEFARe, Peshawar to create a web application which would be used by monitoring officers to collect and record data of people of Karachi and South Punjab. The data was supposed to be used for youth empowerment, improvement of educational system and advancement and awareness of sports activities.</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <p>BEFARe (Basic Education For Afghan REfugees) is a NGO situated in Pakistan which works for the improvement of lifestyle and all-round knowledge level of Pakistani citizens as well as Afghani citizens situated in Pakistan.</p>
                <p>It got funding from USAID to form up Independent Monitoring Unit (IMU) to collect data from Karachi and South Punjab so as to make intelligent decisions to empower the youth of the areas. Third parties which were funded by USAID worked on establishing grounds, schools, health care units etc. It was the job of IMU to independently monitor the progress of these parties and report to USAID.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <hr class="title-accent">
                <p class="text-justify">As of 2012, there are about 1.7 million Afghan nationals who are living in Pakistan. BEFARe acts by investing its resources in education, health, sports, awareness, debates and any other activities to create a better living environment for the Afghans in Pakistan.</p>
                <hr class="title-accent">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <p>BEFARe (Basic Education For Afghan REfugees) is a NGO situated in Pakistan which works for the improvement of lifestyle and all-round knowledge level of Pakistani citizens as well as Afghani citizens situated in Pakistan.</p>
                <p>It got funding from USAID to form up Independent Monitoring Unit (IMU) to collect data from Karachi and South Punjab so as to make intelligent decisions to empower the youth of the areas. Third parties which were funded by USAID worked on establishing grounds, schools, health care units etc. It was the job of IMU to independently monitor the progress of these parties and report to USAID.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 40px">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="img/portfolio/single-item/item-1/tag-image-1.jpg" class="img-responsive" alt="Tag Image" />
                        <div class="img-label">Mock-up Design</div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                        <img src="img/portfolio/single-item/item-1/tag-image-2.jpg" class="img-responsive" alt="Tag Image" />
                        <div class="img-label">Mock-up Design</div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft" data-wow-delay="0.6s">
                        <img src="img/portfolio/single-item/item-1/tag-image-3.jpg" class="img-responsive" alt="Tag Image" />
                        <div class="img-label">Mock-up Design</div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wow fadeInRight" data-wow-delay="0.6s">
                        <img src="img/portfolio/single-item/item-1/tag-image-4.jpg" class="img-responsive" alt="Tag Image" />
                        <div class="img-label">Mock-up Design</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <hr class="title-accent">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut volutpat justo. Donec consequat dui lacus, et faucibus augue condimentum eu. In quis placerat quam, ac dictum sem. Etiam sed erat sed massa tincidunt ornare. Nam in nibh posuere, mollis dui ut, porttitor lorem. In et tortor ac tellus imperdiet placerat. Donec eget libero quis eros elementum consequat. Donec neque ipsum, aliquet a ipsum a, malesuada hendrerit nisl. Nam ac lacinia ante. Ut mollis neque felis, at scelerisque erat tempor at. Integer ornare neque justo, ut rhoncus magna dignissim vitae.</p>
                <hr class="title-accent">
            </div>
        </div>
    </section>
    <!-- ============================ END Page-content =========================== -->
</script>
