<!-- ============================ Featured =========================== -->
<section id="featured">
    <hr class="nogutter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 titleblock text-center">
                <i class="icon-basic-book-pencil"></i>
                <h2>Featured Work</h2>
                <p>Our philosophy and expertise are best represented by our labours of love.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div ng-repeat="item in projects" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 featured-item element-img wow fadeInUp" data-wow-delay="0.2s" style="background-image:url('admin/uploads/{{item.images[0]}}')">
                <a ui-sref="main.projects({projectId: item.id})" title="View Work" class="meta">
                    <span class="title">{{item.title}}</span>
                    <hr class="byline-accent">
                    <span class="byline">
                        	{{item.intro}}
                        </span>
                </a>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <hr class="title-accent">
            <p class="underlined-link">
                <a href="#/portfolio">See all our projects.</a>
            </p>
        </div>
    </div>
</section>
<!-- ============================ END Featured =========================== -->
