<!-- ============================ Footer =========================== -->
<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Contact</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <!--<p class="m_14">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>-->
                <div class="address">
                    <!--<p><i class="icon-basic-geolocalize-01"></i> 500 Lorem Ipsum Dolor Sit,</p>-->
                    <p><i class="icon-basic-life-buoy"></i> Phone: +92 345 927 3785</p>
                    <p><i class="icon-basic-mail-multiple"></i> Email: <span>ahmar@senhoit.com</span></p>
                    <p><i class=""></i></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1169.386772282006!2d71.9909797099511!3d34.004725720440575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ded2fc6eef760f%3A0xe758763baffc9702!2sSenho+I.T.+Solutions!5e0!3m2!1sen!2s!4v1451835413462" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="copy">
                <p>
                    &copy; 2015 , Senho IT Solutions. All Rights Reserved.
                </p>
            </div>
            <!-- <div class="social">
                <ul>
                    <li><a href="http://twitter.com/" target="_blank"><i class="social-icon-twitter"></i></a></li>
                    <li><a href="http://facebook.com/" target="_blank"><i class="social-icon-facebook"></i></a></li>
                    <li><a href="http://instagram.com/" target="_blank"><i class="social-icon-instagram"></i></a></li>
                    <li><a href="http://linkedin.com/" target="_blank"><i class="social-icon-linkedin"></i></a></li>
                </ul>
            </div> -->
            <div class="clearfix"> </div>
        </div>
    </div>
</footer>
<!-- ============================ END Footer =========================== -->
