<!-- ============================ Process =========================== -->
<section id="process">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <i class="icon-basic-accelerator"></i>
                    </div>
                    <div class="col-md-10">
                        <h3>OUR <span>design</span> PROCESS</h3>
                        <p>Here's how our typical business process works with new customers:</p>
                        <hr>
                    </div>
                </div>
                <!-- // .row -->
            </div>
            <!-- // col-xs-12 col-sm-12 col-md-8 col-md-offset-2 -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="timeline-centered">
                    <div class="line"></div>
                    <div class="present">Client Meeting</div>
                    <div class="dot_tp"></div>
                    <div class="born">Delivery</div>
                    <div class="dot_bt"></div>
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon wow fadeInUp" data-wow-delay="0.2s">
                                <span class="number">1</span>
                            </div>
                            <div class="timeline-label wow fadeInUp" data-wow-delay="0.2s">
                                <p>Gather requirements. Understand purpose of the system. Set goals and determine direction.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon wow fadeInUp" data-wow-delay="0.4s">
                                <span class="number">2</span>
                            </div>
                            <div class="timeline-label wow fadeInUp" data-wow-delay="0.4s">
                                <p>Research. Gather tools and work force.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon wow fadeInUp" data-wow-delay="0.6s">
                                <span class="number">3</span>
                            </div>
                            <div class="timeline-label wow fadeInUp" data-wow-delay="0.6s">
                                <p>Design prototypes and reiterate. Test and compare different prototypes and gather feedback.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon wow fadeInUp" data-wow-delay="0.8s">
                                <span class="number">4</span>
                            </div>
                            <div class="timeline-label wow fadeInUp" data-wow-delay="0.8s">
                                <p>Develop the product. Add functionality to the design.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon wow fadeInUp" data-wow-delay="0.8s">
                                <span class="number">5</span>
                            </div>
                            <div class="timeline-label wow fadeInUp" data-wow-delay="0.8s">
                                <p>Test. Stage the product for clients to use and provide feedback.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- timeline-centered -->
            </div>
            <!-- col-xs-12 col-sm-12 col-md-8 col-md-offset-2 -->
        </div>
    </div>
</section>
<!-- ============================ END Process =========================== -->
