<!-- ============================ Sponsors =========================== -->
<section id="companies">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <div class="row flex-container">
                    <div class="center-content col-xs-12 col-sm-3">
                        <img src="img/clients/agriculture-uni-black.png" class="img-responsive logo-square" alt="Official Sponsor" />
                    </div>
                    <div class="center-content col-xs-12 col-sm-3">
                        <img src="img/clients/apex-black.png" class="img-responsive" alt="Official Sponsor" />
                    </div>
                    <div class="center-content col-xs-12 col-sm-3">
                        <img src="img/clients/merillat-black.png" class="img-responsive" alt="Official Sponsor" />
                    </div>
                    <div class="center-content col-xs-12 col-sm-3">
                        <img src="img/clients/uop-black.png" class="img-responsive logo-square" alt="Official Sponsor" />
                    </div>
                    <div class="center-content col-xs-12 col-sm-3 col-sm-offset-3">
                        <img src="img/clients/usaid-black.png" class="img-responsive" alt="Official Sponsor" />
                    </div>
                    <div class="center-content col-xs-12 col-sm-3">
                        <img src="img/clients/wwf.png" class="img-responsive logo-square" alt="Official Sponsor" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ END Sponsors =========================== -->
