<div ng-include src="'app/templates/partials/hero-image.html'"></div>
<div ng-include src="'app/templates/partials/intro.html'"></div>
<div ng-include src="'app/templates/partials/signup.html'"></div>
<div ng-include src="'app/templates/partials/featured.html'"></div>
<div ng-include src="'app/templates/partials/statement.html'"></div>
<div ng-include src="'app/templates/partials/sponsors.html'"></div>
<div ng-include src="'app/templates/partials/services.html'"></div>
<div ng-include src="'app/templates/partials/process.html'"></div>
<div ng-include src="'app/templates/partials/signup.html'"></div>
