<div>
    <section id="page-header" class="element-img scrollme" style="background-image: url('img/header-back.jpg')">
        <div class="container">
            <div class="row boost">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 vertical-align text-center">
                    <div class="animateme center-me" data-when="exit" data-from="0" data-to="0.6" data-opacity="0" data-translatey="120">
                        <h2>{{project.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="headerfade beige-dk"></div>
    </section>
    <!-- ============================ Page-content =========================== -->
    <section id="page-content" class="container portfolio-item">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-4 client text-right">
                        <h3 style="margin-top: 0" ng-bind-html="project.intro"></h3>
                        <hr class="client-accent">
                    </div>
                    <div class="col-md-8" ng-bind-html="renderHTML(project.full_intro)">
                    </div>
                </div>
                <div class="row">
                    <p class="underlined-link">
                        <a href="{{project.livelink}}">GO TO SITE <i class="fa fa-chevron-right"></i></a>
                    </p>
                </div>
                <hr>
            </div>
        </div>
        <div class="row" style="margin-bottom: 40px">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <ul class="row photoblock thumbnails" data-toggle="lightbox" style="margin-bottom:40px">
                    <li class="col-xs-6 col-sm-6 col-md-3 col-lg-3 wow fadeInUp" data-wow-delay="0.2s" ng-repeat="item in images">
                        <a ng-href="admin/projectimages/{{item.image_name}}" title="{{item.image_detail}}" class="thumbnail">
                            <div style="background: url(admin/projectimages/{{item.image_name}}) no-repeat center center fixed; width: 100%; height: 300px;"></div>
                            <img ng-src="" class="img-responsive" alt="Add alt text" />
                        </a>
                    </li>
                    <li class="clearfix"></li>
                    <!-- Include this clearfix to ensure alignment, as we can't separate into 'rows' as it will break the lightbox chain -->
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" ng-bind-html="renderHTML(project.details)">
            </div>
        </div>
        <div class="row">
            <p class="underlined-link">
                <a href="{{project.livelink}}">GO TO SITE <i class="fa fa-chevron-right"></i></a>
            </p>
        </div>
    </section>
    <!-- ============================ END Page-content =========================== -->
</div>
